[submodule "GSharp.Builder"]
	path = GSharp.Builder
	url = https://github.com/kosslab-kr/GSharp.Builder
[submodule "GSharp.Modules"]
	path = GSharp.Modules
	url = https://github.com/kosslab-kr/GSharp.Modules
